.nav{
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    
}
.navbar{
    width: 100%;
    
}
.navbar a{
    color: white;
    font-size: 20px;
 
}
.navbar a:hover{
    color: #0093E9;
}
.img-weahter{
    width: 70%;
}

